absl-py
addict
ansi2html
asttokens 
attrs
backcall
backports.functools-lru-cache 
beautifulsoup4
bleach
cachetools
certifi
charset-normalizer
click
cmake
colorama
comm
ConfigArgParse
contourpy
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
einops
entrypoints
executing
fastjsonschema
filelock
Flask
fonttools
ftfy
future
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
hydra-core
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
kornia
lazy_loader
lit
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mmcv-full
model-index
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
numpy
oauthlib
omegaconf
open-clip-torch
open3d
opencv-python
opencv-python-headless
openmim
ordered-set
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
pyquaternion
pyrsistent
python-dateutil
pytorch-lightning
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
requests-oauthlib
retrying
rich
rsa
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
six
soupsieve
stack-data
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
threadpoolctl
tifffile
timm
tinycss2
tomli
torchsummary
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
yacs
yapf
zipp
