accelerate
addict
asttokens
backcall
blessed
certifi
charset-normalizer
coloredlogs
comm
contourpy
cycler
Cython
debugpy
decorator
diffusers
executing
filelock
flatbuffers
fonttools
fsspec
ftfy
gpustat
# Editable install with no version control (groundingdino==0.1.0)
-e ./models/GroundingDINO
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
importlib_resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
kornia
kornia_rs
lazy_loader
loguru
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
onnx
onnxruntime
opencv-python
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prefetch_generator
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycocotools
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
safetensors
scikit-image
scikit-learn
scipy
seaborn
six
stack-data
supervision
sympy
tabulate
thop
threadpoolctl
tifffile
timm
tokenizers
tomli
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
yapf
zipp
